{% extends "layout.html" %}

{% block body %}

<head>
        <title>Hakkımızda</title>
    </head>
 

<!-- comments -->
<h3 style="font-family:arial;" align="center"><i> Hakkımızda </i> </h3>
<hr align="center" width="500px"/>
</br>
  <h4 style="font-family:arial;" align="center"><i> TÜRKÇEDEKİ YAZIM HATALARINI YAPAY ZEKA ALGORİTMALARIYLA DENETLENMESİ
</i> </h4>

<div class="container">


	
	<p> Bu projede Türk dilinin kurallarının sistemli bir şekilde çıkarılması ve çözümlenmesi üzerine çalışılmıştır. Girilen metnin Türkçenin fonetik ve dilbilgisi kurallarına uygun olup olmadığı, cümlelerdeki her kelimenin kökünün bulunması, eklerin ayrıştırılması, kelimenin doğru mu yanlış mı yazıldığına karar verilmesi ve yanlış yazılan kelimeler için kelime önerilmesi araştırılacaktır.
		Literatürdeki çalışmalara yenilikçi yaklaşımlar ile sadece makine öğrenmesi ve derin öğrenme değil, algoritmik olarak da bazı hataların düzeltilmesi beklenmektedir. Dilimize bir diğer katkı da Türkçe kökenli kelimeler önererek yabancı kelimelerin kullanımını teşvik etmek veya yabancı kelime kullanımını en aza indirmeye teşvik etmektir. Bu amaç doğrultusunda dilin arındırılarak özgün ve anlaşılır hale getirilmesi hedeflenmiştir.
		</br>Araştırma sonunda hedeflenen yüksek doğruluk oranları ve uygun önermelerle bir web sayfası prototipi oluşturulması planlanmıştır. Kullanıcılar için daha rahat bir kullanıcı panelinin oluşturulması ve farklı sayfalara eklenti olarak tasarlanması bu çalışmanın ortak etkisi olarak öngörülmüştür.</h3> <br/>
	   
	</p>
	<p>
		Bu çalışma, TÜBİTAK Bilim İnsanı Destekleme Programları Başkanlığı (BİDEB) tarafından yürütülen 2209-A Üniversite Öğrencileri Araştırma Projeleri Destekleme Programı kapsamında 2021 yılının 2. döneminde destek almaya hak kazanmıştır.
	</p>
	<div class="container"> 

		</br><hr>

 
</div>



<br>

<!-- 
	
</div>


		<div style="color:black;text-align:center">
			<h3 align="center"><span style="color:black">CONTACT US</span></h2>
			<form  action="http://www.google.com">Username:
				<input type="text" name="username" /><br/><br/>Password:
				<input type="password" name="password" /><br/><br/>
				<input type="radio" name="gender" value="Male" /> male<br/> 
				<input type="radio" name="gender" value="Female"/> female<br/> <br/>
				Say what you want, please: <br/>
				<textarea name="message"></textarea>
				<br/><input type="submit" value="Send"/> 
				<address>

<br>Visit us at: hataduzelt.com<br>
Istanbul, Turkey<br>
<br> <br>

</address>
			</form>
		</div>
-->

		<br> <br>
		


<table style="width:100%">
	<tr>
	  <th></th>
	  <th>Araştırmacı</th>
	  <th>İletişim</th>
	</tr>
	<tr>
	  <td><img src="https://cdn-icons-png.flaticon.com/512/68/68170.png" width="100em" height="100em"></td>
	  <td>Ganime ÇALIŞKAN </td>
	  <td><p><a href="https://www.linkedin.com/in/ganimecaliskan/">https://www.linkedin.com/in/ganimecaliskan/</a></p></td>
	</tr>
	<tr>
	  <td><img src="https://cdn-icons-png.flaticon.com/512/67/67902.png" width="100em" height="100em"></td>
	  <td>Emre BAHTİYAR</td>
	  <td> <p><a href="https://www.linkedin.com/in/emrebahtiyar/">https://www.linkedin.com/in/emrebahtiyar/</a></p></td>
	</tr>
  </table>


{% endblock body %}














